*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html{
  font-size: 62.5%;
}
html, body{
  height: 100%;
}
body{
  background: #d20085 url(../imgs/unicode-bg.jpg) no-repeat center center/cover;
}
ol, ul{
  list-style: none;
}
a{
  text-decoration: none;
}